body {
    font-family: 'Lato', sans-serif;
}
h1{
    color: black;
    font-weight: 700;
    }
    
    .A{
       color:black;
       font-weight: 550;
    }
    .B{
        color: rgb(14, 13, 13);
    }